.main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/notes_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.title{
    font-size: 100px;
    word-wrap: break-word;
}

.subtitle{
    font-size: 35px;
}

.hero-text{
    text-align: center;
    width:'100%'
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}